@import "tailwindcss";

@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/neuehaasgrottext-55roman-trial.otf") format("opentype");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/neuehaasgrottext-56italic-trial.otf") format("opentype");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/neuehaasgrottext-65medium-trial.otf") format("opentype");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/neuehaasgrottext-66mediumitalic-trial.otf")
    format("opentype");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/neuehaasgrottext-75bold-trial.otf") format("opentype");
}
@font-face {
  font-family: "Neue Haas Grotesk";
  font-style: italic;
  font-weight: 700;
  src: url("/fonts/neuehaasgrottext-76bolditalic-trial.otf") format("opentype");
}

@theme {
  --font-neue: "Neue Haas Grotesk", sans-serif;
  --color-black: #2c2b2a;
  --color-white: #ffffff;
  --color-background: #efeae3;
  --color-primary: #fe370a;
  --color-secondary: #ffa500;
}

body {
  font-family: "Neue Haas Grotesk", sans-serif;
}

@keyframes blob1 {
  0% {
    transform: translate(20%, -5%);
  }

  50% {
    transform: translate(-5%, 10%);
  }

  100% {
    transform: translate(-15%, 25%);
  }
}

.animate-blob1 {
  animation: blob1 8s ease-in-out infinite alternate;
}

@keyframes blob2 {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  100% {
    transform: translate(5%, -8%);
  }
}

.animate-blob2 {
  animation: blob2 8s ease-in-out infinite alternate;
}

